footer{
    .footer__content {
        height: 60px;
        background-color: rgba(237, 240, 245, 1);
        display:flex;
        justify-content:center;
        align-items:center;
    }
}